body {
  background-color: rgb(246, 246, 246);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#front-page-banner {
  margin-bottom: 16px;
  position: relative;
}
#banner-image {
  height: 100%;
  width: 100%;
}
#banner-title {
  font-size: 3vw;
  width: 100%;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}
#introductory-paragraph {
  color: rgb(252, 252, 252);
  background-color: rgb(0, 0, 0);
}
.box {
  aspect-ratio: 16 / 9;
  width: 60%;
  border-radius: 7%;
}
#first {
  background-color: rgb(177, 34, 34);
}
#first-link {
  color: black;
  background-color: grey;
  padding: 5px;
  text-decoration: none;
}
#first-link:hover {
  background-color: red;
}
#menu-button {
  position: absolute;
  left: 88%;
  top: 5%;
  background-color: rgb(210, 210, 210);
  border-color: darkgrey;
  width: 90px;
  font-size: larger;
}
#guide {
  z-index: 10;
  position: fixed;
  bottom: 5%;
  display: flex;
  gap: 200px;
  margin-top: 10px;
  padding-top: 10px;
}
.guide-command {
  background-color: lightgrey;
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.slide-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slide-flex img {
  width: 100%;
}
#menu-container {
  flex-direction: column;
  position: absolute;
  left: 86%;
  bottom: 70%;
  border-color: darkgrey;
  font-size: larger;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
#menu-container a {
  border: solid 3px;
  border-color: black;
  background-color: grey;
  color: offwhite;
}

.image-container {
  padding: 50px;
}
