body {
  background-color: rgb(246, 246, 246);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

#front-page-banner {
  margin-bottom: 16px;
  position: relative;
}
#banner-image {
  height: 100%;
  width: 100%;
}
#banner-title {
  font-size: 3vw;
  width: 100%;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}
#introductory-paragraph {
  color: rgb(252, 252, 252);
  background-color: rgb(0, 0, 0);
  max-height: 300px;
}
.box {
  aspect-ratio: 16 / 9;
  width: 60%;
  border-radius: 15px;
  margin: 7px;
}
#webpage {
  background-color: rgb(177, 34, 34);
}
#first-link {
  color: black;
  background-color: lightgrey;
  padding: 5px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}
#first-link:hover {
  background-color: red;
}
#menu-button {
  position: absolute;
  left: 88%;
  top: 5%;
  background-color: rgb(210, 210, 210);
  border-color: black;
  width: 96px;
  height: 40px;
  font-size: larger;
}
.slide-menus {
  position: absolute;
  left: 92%;
  top: 4%;
  background-color: rgb(210, 210, 210);
  border-color: black;
  width: 96px;
  height: 40px;
  font-size: larger;
  margin: 10px;
}
#guide {
  z-index: 10;
  position: fixed;
  bottom: 3%;
  display: flex;
  gap: 200px;
  margin-top: 10px;
  padding-top: 10px;
}
.guide-command {
  background-color: lightgrey;
  border: solid 2px black;
  padding: 5px;
  text-decoration: none;
  color: black;
}
/* slide-image container */
.slide-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(180, 180, 180);
  padding: 10px;
  border-radius: 15px;
  max-width: 80vw;
}
.slide-flex img {
  width: 100%;
}
#menu-container {
  flex-direction: column;
  position: absolute;
  left: 88%;
  bottom: 25%;
  border-color: black;
  font-size: larger;
}
#slide-links {
  flex-direction: column;
  position: absolute;
  left: 93.05%;
  bottom: 35%;
  border-color: darkgrey;
  font-size: larger;
  text-decoration: none;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}
#menu-container a {
  border: solid 2px;
  border-color: black;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  padding: 20px 20px;
}
#slide-links a {
  border: solid 2px;
  background-color: rgb(210, 210, 210);
  border-color: black;
  color: black;
  text-decoration: none;
  padding: 15px;
}
.bullet-point {
  margin-top: 20px;
  background-color: rgb(180, 180, 180);
  border-radius: 15px;
  text-align: start;
  padding-right: 3px;
}
.bullet-point-a {
  margin-top: 20px;
  position: absolute;
  left: 21.8%;
  border-radius: 15px;
  text-align: start;
  padding-right: 3px;
}
.bullet-point li {
  padding-right: 13px;
  margin-top: 10px;
  font-size: larger;
}
.bullet-point-a li {
  padding-right: 13px;
  margin-top: 10px;
  font-size: large;
}

.outro {
  font-size: 6vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 17%;
  left: 50%;
}
.outro-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-size: larger;
}
.box-a {
  aspect-ratio: 16 / 9;
  width: 45%;
  border-radius: 15px;
  margin: 7px;
}
